<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration为根节点，包含两个属性Status、monitorinterval -->
<!--status:log4j日志本身打印级别 -->
<!--monitorinterval:自动重新配置的监测间隔时间，最小5秒 -->
<Configuration status="WARN" monitorinterval="2">
    <properties>
        <Property name="log-path">logs</Property>
    </properties>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{yyyy:MM:dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--File:输出到指定位置文件的Appender；fileName:全路径的文件名-->
        <File name="log" fileName="${log-path}">
            <PatternLayout pattern="%d{yyyy:MM:dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <!--RollingFile:超过指定大小或时间自动执行LRU策略删除创建日志-->
        <!--filePattern:新建日志文件的名称格式-->
        <RollingFile name="rolling" filename="rolling/rolLog.log" filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <!--filePattern:新建日志文件的名称格式-->
            <PatternLayout pattern="%d{yyyy:MM:dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <!--Policies:指定滚动日志策略-->
            <Policies>
                <!--TimeBasedTriggeringPolicy:基于时间的滚动策略-->
                <TimeBasedTriggeringPolicy interval="2"/>
                <!--SizeBasedTriggeringPolicy:基于指定文件大小的滚动策略-->
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <!--DefaultRolloverStrategy:指定同一个文件夹下最多有几个日志文件时开始删除最旧的-->
            <DefaultRolloverStrategy max="10"/>
            <!--ThresholdFilter:日志等级过滤-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>
    <!--Loggers:常见的有两种节点:Root和Logger-->
    <Loggers>
        <!--Root:指定项目的根日志，如果没有单独指定Logger，那么就会默认使用该Root日志输出-->
        <!--level:日志输出级别，All<Trace<Debug<Info<Warn<Error<Fatal<OFF -->
        <Root level="debug">
            <!--AppenderRef:指定日志输出到哪个终端-->
            <AppenderRef ref="log"/>
            <AppenderRef ref="console"/>
        </Root>
        <!--Logger:为不同包下的class指定不同的日志级别 name:包路径，如不设置AppenderRef默认使用Root -->
        <Logger level="debug" name="bootstrap"></Logger>
    </Loggers>
</Configuration>